*.o
*.cbp
*.depend
*.layout

Lab6/main.cpp
Lab6/bin/**
Lab6/debug/**
Lab6/lasts/**
Lab6/Untitled1

Lab7/bin/**
Lab7/debug/**
Lab7/obj/**
Lab7/lasts/**

Lab8/bin/**
Lab8/debug/**
Lab8/obj/**

Lab9/bin/**
Lab9/debug/**
Lab9/obj/**

Lab10/bin/**
Lab10/debug/**
Lab10/obj/**

